body {
  font-family: "Arial";
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#root {
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  padding: 10px;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 500px;
}

input[type="text"] {
  width: 57%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;

  & span {
    cursor: pointer;
  }
}

button {
  background-color: #f25050;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: #f25050e3;
  }
}

button[type="submit"] {
  background-color: #5cb85c;

  &:hover {
    background-color: #449d44;
  }
}